@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed&family=Rampart+One&display=swap');
*{
  font-family: 'Encode Sans Condensed', sans-serif;

}

body{
  background-image:url('https://img.freepik.com/free-vector/engraving-hand-drawn-tropical-leaves-background_23-2148961423.jpg?w=996&t=st=1677637817~exp=1677638417~hmac=9e1e48e742972f5162375858104468f601f0a5ffcbdca492c9c8e29e18f6ed56');
  background-size:100%;
  font-family: 'Encode Sans Condensed', sans-serif;

}

.App {
  text-align: center;
}

.title{
  font-size: 48px;
  font-family: 'Rampart One', cursive;
}

#welcome{
  font-family: 'Rampart One', cursive;
  font-size: 24px;
}

#search-bar{
  width:188px;
  height:36px;
  border-radius: 38px;
  background-color: #c8e6ff;
  color: #001e2e;
  padding-left: 22px;
  border:none;
  font-size: 20px;
  font-weight: bolder;
}

#search-btn{
  width: 112px;
  height:36px;
  border-radius: 38px;
  background-color: #cde8df;
  color: #00201a;
  border: none;
  font-weight: bolder;
  font-size: 20px;
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}


#search-btn:hover, .random-btn:hover, .spirit-btns:hover{
  background-color: #79f8db;
  color: #005143;
  transform: scale(1.1);
}

#search-btn:active, .random-btn:active, .spirit-btns:active{
  color: #dbe5e0;
  background-color: #3f4946;
}

.header{
  color:#06201a;
  height: 136px;
}

.title-link{
  text-decoration: none;
  color:#06201A;
  transition: all 0.3s ease-in-out;
}


.title-link:hover{
  text-decoration: none;
  color:rgb(155, 56, 16);
  transform: scale(5.2);
}

.nav-link{
  text-decoration: none;
  color: #410002;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover{
  color: hotpink;
  transform: scale(1.1);
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:48px;
  font-size: 20px;
  font-weight: bolder;
}

.Home, .card-container, .list-container-wrap{
display: flex;
justify-content: center;
} 

.home-card, .list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:552px;
  margin-top:36px;
  margin-bottom:36px;
  padding: 10px;
  border-radius: 8px;
  background-color: #4b635c;
  color:#FFFFFF;
  font-weight: bolder;
}

.random-btn{
  background-color: #cde8df;
  color: #06201a;
  width: 224px;
  height: 36px;
  border-radius: 38px;
  font-size:20px;
  font-weight: bold;
  border: none;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.drink-card{
  background-color: #dbe5e0;
  color: #3f4946;
  width: 464px;
  border-radius: 8px;
  margin: 40px;
}

#list-drink-selection{
  margin-top: 20px;
}

.img-ingredient-set{
  display: flex;
  flex-direction: row;
}

img{
  margin-left: 32px;
}

ul{
  text-align: left;
}

.directions{
  padding: 16px;
}


.list-card{
  background-color: #dbe5e0;
  color: #3f4946;
  border-radius: 8px;
  width:464px;
  height: 400px;
  margin:40px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  cursor: pointer;
}

.list-item:hover{
  background-color: #c8e6ff;
}

.list-card img{
  width:150px;
  cursor: pointer;

}

.spirit-btns{
  background-color: #cde8df;
  color: #00201a;
  width: 100px;
  height: 36px;
  border-radius: 38px;
  font-size:20px;
  font-weight: bold;
  border: none;
  margin: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.list-img{
  margin: 0 auto;
  margin-bottom: 20px;
}

.selected-drink-img{
  align-self: center;
}

#back-link{
  text-decoration:underline;
  margin-right: 500px;
  color:#ffffff;

}

.loading{
margin-top: 100px;

}

.age-verification{
text-align: center;
background-color: #ba1a1a;
border-radius: 8px;
color: #ffffff;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 auto ;
margin-top: 300px;
height: 150px;
width:400px;
}

.age-verification button{
  background-color: #ffdad6;
  color: #410002;
  width: 150px;
  height: 36px;
  border-radius: 38px;
  font-size:20px;
  font-weight: bold;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.age-verification a:hover, button:hover{
  background-color: #410002;
  color: #ffffff;
}

.age-verification a:active, button:active{
  background-color: #ffffff;
  color: #ba1a1a;
}

a{
  text-decoration: none;
  color: #410002;

}


@media screen and (max-width: 500px) {

  .age-wrap{
    position: absolute;
    bottom:200px;
    left: 25px;
  }

  .age-verification {
    display:flex;
    width:350px;
    height:200px;
  }

  .home-card, .list-container{

    width: 400px;

  }

  .drink-card{
    border-radius: 0;
    width: 420px;
  }

  .list-card{
    width: 420px;
    border-radius: 0;
  }

  .nav-bar{
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
  }

  #search-bar{
    width: 130px;
  }

  #search-btn{
    width:80px;
  }
}

@media screen and (max-width: 400px) {

  .age-wrap{
    position: absolute;
    bottom:200px;
    left: 25px;
  }

  .age-verification {
    display:flex;
    width:350px;
    height:200px;
  }

  .home-card, .list-container{
    width: 360px;

  }

  .drink-card{
    border-radius: 0;
    width: 380px;
  }

  .list-card{
    width: 380px;
    border-radius: 0;
  }

  .nav-bar{
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }

  #search-bar{
    font-size: 14px;
    width: 100px;
  }

  #search-btn{
    width:80px;
  }
}

@media screen and (max-width: 350px) {

  .age-wrap{
    position: absolute;
    bottom:200px;
    left: 25px;
  }

  .age-verification {
    display:flex;
    width:300px;
    height:200px;
  }

  .age-verification button {
    margin:5px;
  }

  .home-card, .list-container{
    width: 330px;
    border-radius: 0;
  }

  .drink-card{
    border-radius: 0;
    width: 350px;
  }

  .list-card{
    width: 350px;
  }

  .nav-bar{
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }

  #search-bar{
    font-size: 14px;
    width: 80px;
  }

  #search-btn{
    width:60px;
    font-size: 16px;
  }

  ul{
    margin-right:10px;
  }
}